*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: coral;
    height: 250px;
    margin: 0px 200px 0px 200px;
    color: #fff;
}
.alt-header{
    text-align: center;
    padding: 50px;
    
}
.alt-header h1{
    color: orange;
    background-color: #fff;
    display: inline;
    padding: 10px 15px;
   
}

.alt-header h3{
    color: #fff;
    font-size: 30px;
    padding: 15px;
}
#score{
    width:700px;
    height: 35px;
    border: 1px solid #e2e2e2;
    outline: none;
    vertical-align: middle;
}
#btn{
    padding: 7px 60px;
    font-size: 16px;
    background-color: rgba(0, 0, rgb(152, 152, 185), 0.9);
    cursor:pointer;
}
.btn:hover{
    border: 1px solid rgb(152, 152, 185);
}
#liste{
    margin: 0px 200px 0px 200px;
}

.yapılacaklar{
    padding: 7px 7px 7px 20px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
   background-color: gray;
   opacity: 0.8;
}
.yapılacaklar:nth-child(odd){
    padding: 7px 7px 7px 20px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
   background-color: rgb(238, 228, 228);
   opacity: 0.8;
}
